.place__title {
  margin: 0 16px 0;
  font-size: calc( (100vw - 320px)/(768 - 320) * (42 - 32) + 32px);
  line-height: 1.09;
  font-weight: 900;
}

@media (min-width: 768px) {
  .place__title {
    margin: 0;
    font-size: calc( (100vw - 768px)/(1024 - 768) * (62 - 42) + 42px);
    line-height: 1.1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 330px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
  }
}
