.photo-grid {
  max-width: 92.5%;
  margin: 0 auto 92px;
}

@media (max-width: 479px) {
  .photo-grid {
    margin-bottom: 64px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .photo-grid {
    max-width: 94%;
    margin-bottom: 88px;
  }
}
