.places {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

@media (min-width: 767px) {
  .places {
    max-width: 720px;
    row-gap: 73px;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .places {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .places {
    max-width: 984px;
    row-gap: 75px;
  }
}
