.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 32px;
  }

  @media (min-width: 768px) {
    .footer__menu {
      flex-direction: row;
      gap: 18px;
    }
  }
