.cover__subtitle {
  margin: 0;
  max-width: 360px;
  padding: 0 16px;
  font-size: calc( (100vw - 320px)/(768 - 320) * (18 - 14) + 14px);
  line-height: 1.14;
  font-weight: 400;
  text-align: center;
  justify-self: start;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    padding: 0;
  }
}

