.cover {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  margin: 0 auto 92px;
  background: url("../../images/cover__trains.jpg") no-repeat 0 0 / cover;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (min-width: 421px) and (max-width: 767px) {
  .cover {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media (max-width: 420px) {
  .cover {
    min-height: 200px;
    margin-bottom: 64px;
  }
}
