.cover {
  margin: 66px auto 64px;
  background: url("../../images/cover__trains.jpg") no-repeat center / cover;

 }

 @media (min-width: 768px) {
  .cover {
    margin: 90px auto 88px;

   }
 }

 @media (min-width: 1024px) {
  .cover {
    margin: 137px auto 47px;

   }
 }

 @media (min-width: 1280px) {
  .cover {
    margin: 92px auto;

   }
 }
