.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: calc( (100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
  line-height: 1.09;
  font-weight: 900;
  text-align: center;
  justify-self: end;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
  }
}

