.place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 0.98fr 1.02fr;
    gap: 48px 28px;
  }
}
