.footer {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}
